{% extends 'base.html' %}

{% load static %}

{% block content %}



		<!-- breadcrumb-section -->
		<div class="breadcrumb-section breadcrumb-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 text-center">
						<div class="breadcrumb-text">
							<p>مشاوره و سفارش </p>
							<h1>09196228188 <br> 09199638223 <br> 09356202245</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end breadcrumb section -->
		<!-- error section -->
		<div class="full-height-section error-section">
			<div class="full-height-tablecell">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 offset-lg-2 text-center">
							<div class="error-text">
								<i class="ri-emotion-sad-line"></i>
								<h1>متاسفیم , صفحه مورد نظر پیدا نشد</h1>
								<p>The page you requested for is not found.</p>
								<a href="{% url 'home' %}" class="boxed-btn">صفحه اصلی</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



{% endblock %}